body
.hero {
display: flex;
justify-content: space-between;
align-items: center;
padding: 60px 50px;
background-color: rgb(8, 8, 159);
}
header nav{
    color: white;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}
.hero-text h1 {
font-size: 40px;
}
.hero-text h1 span {
color: #00eaff;
}
.hero-img img {
width: 260px;
height: 260px;
border-radius: 50%;
border: 4px solid #00eaff;
object-fit: cover;
box-shadow: 0 0 20px #00eaff55;
}
.btn {
display: inline-block;
margin-top: 15px;
padding: 10px 20px;
background: #00eaff;
color: black;
font-weight: 700;
border-radius: 6px;
text-decoration: none;
}
.container {
padding: 40px 50px;
}
.card {
background: rgba(255,255,255,0.05);
padding: 20px;
border-radius: 10px;
border: 1px solid rgba(255,255,255,0.1);
}
.project-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
margin-top: 20px;

}
.about-grid {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px;
margin-top: 20px;
background-color:black;
color: white;
}
.about-photo {
width: 250px;
border-radius: 10px;
box-shadow: 0 0 20px #00eaff55;
}
.contact-form input,
.contact-form textarea {
width: 100%;
padding: 12px;
margin-top: 10px;
background: #0b1323;
border: 1px solid #1e293b;
color: white;
border-radius: 6px;
}
button {
margin-top: 10px;
padding: 10px 20px;
background: #00eaff;
border: none;
border-radius: 6px;
cursor: pointer;
font-weight: 700;
color: black;
}
footer {
    text-align: center;
    color:white;
    background-color:black;
}